@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.loading{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: auto;
}

body {
  margin: auto;
  max-width: 1366px;
}

img {
  user-select: none;
}

/* Nav Style */
nav {
  transition: .3s;
}

.navbar-container {
  padding: .9rem 0;
}

.navbar-title {
  text-decoration: none;
  color: #000000;
  font-size:1.5rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  border-bottom: 2px solid rgb(128, 128, 128, 0);
  border-bottom: 2px solid rgba(128, 128, 128, 0);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  transition: .5s ease;
  padding: 0 .1rem;
}

.navbar-title:hover {
  text-decoration: none;
  border-bottom: 2px solid #808080;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: black;
}

.navbar-btn {
  cursor: pointer;
  background: none;
  outline: none;
}

@media screen and (max-width:990px) {
  .navbar-items-holder li {
    padding: .4rem 0;
  }
}

.navbar-item {
  text-decoration: none;
  color: #000000;
  font-size:.95rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: .8px;
  border-bottom: 2px solid rgb(128, 128, 128, 0);
  border-bottom: 2px solid rgba(128, 128, 128, 0);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  transition: .5s ease;
  padding: .1rem .1rem;
}

.navbar-item:hover {
  color: #000000;
  text-decoration: none;
  border-bottom: 2px solid #808080;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.navbar-items-holder li {
  margin: 0 .7rem;
}

.sticky {
  background-color: #ffffff;
  z-index: 5;
  box-shadow: 0 .10px 10px;
}

@media screen and (max-width:990px) {

  nav {
    background-color: #ffffff;
    z-index: 5;
    box-shadow: 0 .10px 10px;
  }

  .navbar-items-holder {
    background-color: #ffffff;
    line-height: 1.5;
    margin: .5rem 0 .5rem .3rem;
  }
}

/* Home Style */

.homepage {
  height: 100vh;
  margin: auto;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92vh;
}

.heading h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2.7px;
  font-family: "Montserrat", sans-serif;
}

.heading p {
  font-size: 1.4rem;
  font-size: 100;
}

.img1 {
  position: relative;
  width: 150%;
}

.viewMoreBtn {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: .1;
  background: none;
  border: none;
  padding: 1.5rem;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view-text {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  line-height: 1.8;
}

#Vector_1 {
  animation: slide .4s ease infinite alternate;
  animation-delay: 1.4s;
}

#Vector_2 {
  animation: slide .4s ease infinite alternate;
}

@keyframes slide {
  0% {
    fill: black;
  }
  100% {
    fill: rgb(194, 194, 194);
  }
}

@media screen and (max-width:990px) {
  .viewMoreBtn {
    bottom: -50px;
  }

  .heading-img{
    width: 90%;
    margin: auto;
    position: absolute;
    overflow: hidden;
    transform: translate(5%, 0);
    opacity: .6;
  }
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* about */
.about-holder {
  height: 100%;
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C121C;
}

.about p {
line-height: 1.7;
font-family: sans-serif;
}

.ProfileImg {
  width: 100%;
  border: 1.3rem solid #111927;
  box-shadow: 0 0 10px #07006e;
  border-radius: 50%;
}

.about-ul {
  margin: 1rem auto;
}

@media screen and (max-width:991px) {
  .ProfileImg-holder {
    margin:0 auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ProfileImg {
    margin: auto;
    width: 70%;
    text-align: center;
  }
}

.ventures {
  letter-spacing: .5px;
}

.services-holder {
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #161516;
}

.languages h1 {
  font-size: 3rem;
  font-weight: 700;
}

.languages-img-holder .col-md-4 {
  transition: .4s ease;
}

.languages-img-holder .col-md-4:hover {
  transform: scale(1.1) !important;
}

@media screen and (max-width:991px){
  .languages-img-holder .col-md-4:hover {
    transform: scale(.8) !important;
  }

  .languages h1 {
    font-size: 2.7rem;
  }

  .services-heading{
    text-align: center;
    margin: 1.5rem auto;
  }

  .services-holder {
    height: 100%;
  }

  .video_loop video {
    width: 70%;
  }

  .services {
    margin: 5rem 0;
  }
}

.more-holder {
  height: 100vh;
  padding: 4rem 0;
}

.more img {
  width: 200px;
}

.flexed-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End of Home Style */
/* Start Software styles */

.software {
  padding-top: 5.5rem;
  min-height: 100vh;
}

.software ::-webkit-scrollbar {
  width: auto;
  height: 4px;
}

tbody tr td:nth-child(2) {
  overflow-x: auto;
  max-width: 500px;
}

/* End of Software Style */
/* Start of Contact Styles */

.contact{
  padding-top: 3.5rem;
}

.contact h1 {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:991px){
  .contact{
    padding-top: 5.5rem;
  }
}

.logoCover{
  margin: auto 0;
  padding: 1rem 8rem;
  background-color: white;
  position: relative;
  width: 100%;
  top: -40px;
}

/* End of Contact Styles */
/* Start of Notice Styles */
.notice {
  padding: 6.5rem 2rem 1rem;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
/* End of Notice Styles */
/* Start of Footer Styles */

footer {
position: relative;
bottom: 0;
background-color: #02001b;
}

.footer{
  margin-bottom: 2rem;
}

.footer-links-holder li{
  margin: 1.1rem auto;
}

.footer-links {
  font-weight: normal;
  padding: .4rem .3rem;
  color: #808080;
  font-size:1.1rem;
  transition: .3s ease;
}

.footer-links:hover {
  text-decoration: none;
  color: rgb(238, 238, 238);
}

footer .icon {
  color: gray;
  font-size: 2rem;
  margin: .1rem .6rem;
  transition: .2s ease;
  text-decoration: none;
}

footer .icon:hover{
  color: white;
}

/* End of Footer Styles */
/* width */
::-webkit-scrollbar {
width: 8px;
height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #dadada;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

::selection {
  background: #9135e7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #9135e7; /* Gecko Browsers */
}